<article data-id="welcome">
    <header>
        <h3>{{{i18n 'Welcome!'}}}</h3>
    </header>
    <div class="pad-wrapper">
        <p>{{{i18n 'Welcome to pxls.space! Pxls is a multiplayer online collaborative canvas based on Reddit\'s <a href="https://www.reddit.com/r/place" target="_blank">r/place</a> event from 2017 that allows you to create anything you can imagine, one pixel at a time. Join hundreds of other players in the Pxls community and create amazing works of art together as a team, or solo.'}}}</p>
        <p>{{{i18n 'The best place to reach staff and fellow community is in the discord!'}}}</p>
        <p>{{{i18n 'Check out our social media pages, and please take the time to read the rules below. Have fun creating (or changing) art!'}}}</p>
    </div>
</article>
<article data-id="canvas-rules" id="canvas-rules">
    <header>
        <h3 class="text-red">{{{i18n 'Canvas Rules'}}}</h3>
    </header>
    <div class="pad-wrapper" id="rules-content">
        <p>{{{i18n 'We pride ourselves on trying to keep an open canvas for all free from outside interference on our end, and especially censorship. However, for the good of the community and on accounts of our own beliefs, please acknowledge and obey the following guidelines:'}}}</p>
        <ol>
            <li>{{{i18n 'No hateful imagery or derogatory speech. This includes but is not limited to words such as <i>f****t</i>, <i>n****r</i>, etc; as well as the Swastika, Hammer and Sickle, and any symbols of terrorism.'}}}</li>
            <li>{{{i18n 'No NSFW or NSFL content.'}}}
                <ul>
                    <li>{{{i18n 'No nudity or otherwise sexually explicit content'}}}
                        <ul>
                            <li>{{{i18n 'No female-presenting nipples/bare breasts, genitalia, sexual fluids'}}}</li>
                        </ul>
                    </li>
                    <li>{{{i18n 'No sexual imagery/erotica'}}}</li>
                    <li>{{{i18n 'No excessive blood or otherwise obscene/shocking content'}}}</li>
                </ul>
            </li>
            <li>{{{i18n 'No more than <b>one</b> account per user, no exceptions. Multiple account users will be banned from creating art on the canvas.'}}}</li>
            <li>{{{i18n 'No auto-placement tools of any kind, you must place the pixels manually.'}}}</li>
            <li>{{{i18n 'Do not abuse site functionality, such as reports or lookups. (e.g. automated reporting/lookups, etc.)'}}}</li>
            <li>{{{i18n 'Any automated aggregation of data from user lookups is not allowed, and will result in a ban.'}}}</li>
            <li>{{{i18n 'Staff have final say in any rule disputes'}}}
                <ul>{{{i18n 'If you feel a moderator has acted inappropriately, please report it to an administrator.'}}}</ul>
            </li>
        </ol>
        <p>{{{i18n 'If you believe you have been falsely banned you may contact a moderator or administrator.'}}}</p>
    </div>
</article>
<article data-id="chat-rules" id="chat-rules">
    <header>
        <h3 class="text-red">{{{i18n 'Chat Rules'}}}</h3>
    </header>
    <div class="pad-wrapper">
        <ol>
            <li>{{{i18n 'Keep chat civil. No harassment or homophobic/transphobic/disablist language.'}}}</li>
            <li>{{{i18n 'No hate speech. This includes emoji/symbols/ASCII art.'}}}
                <ul>
                    <li>{{{i18n 'Normal swearing/etc is allowed'}}}</li>
                </ul>
            </li>
            <li>{{{i18n 'No spamming'}}}
                <ul>
                    <li>{{{i18n 'This includes excessive ASCII art/emojis/symbols/whitespace'}}}</li>
                </ul>
            </li>
            <li>{{{i18n 'No "copy pasta"s'}}}</li>
            <li>{{{i18n 'No links to sites that actively break the canvas or chat rules (e.g. porn sites)'}}}</li>
            <li>{{{i18n 'No symbology which break the canvas or chat rules (e.g. NSFW ASCII art)'}}}</li>
            <li>{{{i18n 'No personal information'}}}</li>
            <li>{{{i18n 'Staff have final say in any rule disputes'}}}
                <ul>
                    <li>{{{i18n 'If you feel a moderator has acted inappropriately, please report it to an administrator.'}}}</li>
                </ul>
            </li>
        </ol>
    </div>
</article>
<article data-id="links">
    <header>
        <h3>{{{i18n 'Links'}}}</h3>
    </header>
    <div class="pad-wrapper">
        <ul>
            <li><a href="https://docs.pxls.space/en/legal/terms" target="_blank">{{{i18n 'Terms of Service'}}}</a></li>
            <li><a href="https://docs.pxls.space/en/legal/privacy" target="_blank">{{{i18n 'Privacy Policy'}}}</a></li>
        </ul>
        <ul>
            <li><a href="https://pxls.space/discord" target="_blank">{{{i18n 'Discord (main hub)'}}}</a></li>
            <li><a href="https://twitter.com/pxlsspace" target="_blank">{{{i18n 'Twitter'}}}</a></li>
            <li><a href="https://github.com/pxlsspace/Pxls" target="_blank">{{{i18n 'GitHub (back end)'}}}</a></li>
            <li><a href="https://github.com/pxlsspace/pxls-web" target="_blank">{{{i18n 'GitHub (front end)'}}}</a></li>
            {{! link to piskelapp.com }}
            <li><a href="http://www.piskelapp.com/p/create/sprite" target="_blank">{{{i18n 'Single-player mode'}}}</a></li>
        </ul>
        <ul>
            <li><a href="https://pxls.space/stats" target="_blank">{{{i18n 'Statistics'}}}</a></li>
            <li><a href="https://pxls.space/profile" target="_blank">{{{i18n 'Profile (user info, factions, etc.)'}}}</a></li>
            <li><a href="https://wiki.pxls.space" target="_blank">{{{i18n 'Wiki'}}}</a></li>
            <li><a href="https://archives.pxls.space/" target="_blank" title="{{{i18n 'Archives'}}}">{{{i18n 'Archives'}}}</a></li>
            {{! link to pxlsfiddle.com }}
            <li><a href="https://pxlsfiddle.com/" target="_blank" title="{{{i18n 'Archives'}}}">{{{i18n 'PxlsFiddle (archives)'}}}</a></li>
        </ul>
    </div>
</article>
<article data-id="donate">
    <header>
        <h3>{{{i18n 'Donate'}}}</h3>
    </header>
    <div class="pad-wrapper">
        <p>{{{i18n 'Donations are not accepted at this time, but this panel will be updated when they\'re open again!'}}}</p>
    </div>
</article>
