<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{err}} - {{title}}</title>
    <script src="/jquery-3.4.1.min.js"></script>
    <script src="/profile/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/profile/css/theme-purple.min.css">
    <link rel="stylesheet" href="/fontawesome-all.min.css">
</head>
<body>
<nav class="navbar navbar-dark navbar-expand-md" role="nav">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a href="/" class="nav-link">{{title}}</a>
        </li>
    </ul>
    {{#if self}}
    <div class="my-2 my-lg-0">
        <div class="dropdown">
            <button class="navbar-text btn btn-link dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true" id="btnNavUserDropdown">
                <i class="fas fa-user-alt mr-1"></i>{{self.name}}
            </button>
            <div class="dropdown-menu dropdown-menu-right" id="navUserDropdown" aria-labelledby="btnNavUserDropdown">
                <a href="/profile?action=details" class="dropdown-item">{{{i18n 'My Profile'}}}</a>
                <a href="/profile?action=factions" class="dropdown-item">{{{i18n 'My Factions'}}}</a>
            </div>
        </div>
    </div>
    {{/if}}
</nav>
<main role="main" class="mb-3">
    <div class="container">
        {{#if (eq err 404) }}
        {{! HTTP status code name }}
        <h1>{{{i18n 'Not Found'}}}</h1>
        <hr>
        <p>{{{i18n 'The content you requested could not be found at this URL. If you believe this is an error, please contact a developer.'}}}</p>
        <div class="d-block">
            {{! links to the homepage (the app itself) }}
            <a href="/" class="btn btn-primary mr-1"><i class="fas fa-arrow-left"></i> {{{i18n 'Back to Pxls'}}}</a>
            <a href="/profile" class="btn btn-primary mr-1"><i class="fas fa-user"></i> {{{i18n 'My Profile'}}}</a>
        </div>
        {{else if (eq err 403) }}
        {{! HTTP status code name }}
        <h1>{{{i18n 'Not Authenticated'}}}</h1>
        <hr>
        <p>{{{i18n 'You must be logged in to access this data. Please go back to pxls and go through the authentication process.'}}}</p>
        <div class="d-block">
            <a href="/" class="btn btn-primary mr-1"><i class="fas fa-arrow-left"></i> {{{i18n 'Back to Pxls'}}}</a>
        </div>
        {{else}}
        {{! HTTP status code name }}
        <h1>{{{i18n 'Not Allowed'}}}</h1>
        <hr>
        <p>{{{i18n 'The action you attempted to perform is not allowed or resulted in an error. Please ensure you have access to the endpoint and try again later.'}}}</p>
        <div class="d-block">
            <a href="/" class="btn btn-primary mr-1"><i class="fas fa-arrow-left"></i> {{{i18n 'Back to Pxls'}}}</a>
            <a href="/profile" class="btn btn-primary mr-1"><i class="fas fa-user"></i> {{{i18n 'My Profile'}}}</a>
        </div>
        {{/if}}
    </div>
</main>
<script src="/profile/js/views/root.js"></script>
</body>
</html>
